
h1, h2{
	text-align: center;
}
body{
	font-family: arial, sans-serif;
	font-size: 12px;
}

/* Selection area */
#options {
	width: 60%;
	height: 120px;
	margin: 15px auto;
	background-color: #CDCDCD;
	padding-top: 5px;
	text-align: center;
	border-radius: 15px;
}

.button {
	width: 90px;
	height: 30px;
	display: inline-block;
	margin:auto;
	position: relative;
	margin-bottom: 10px;
	background-color: #D3D3D3;
	border-radius: 5px;
	border: 1px solid black;	
	cursor: pointer;
}

div > p {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* Play area */

.hoverArea{
	width: 540px;
	margin: auto;
	background-color: #FFFFE0;
	border-radius: 5px;
	border: 2px solid gray;
	overflow: auto;
}

.pixels{
	float: left;
	display:inline-block;
	background-color: #A7667A;
}

